 <div class="left">
  <ul>
    <h3>Menu</h3>
    <li><%= link_to 'New Entry',new_host_path %> </li>
    <li><%=link_to 'Download Excel', url_for(:format =>'xls')%> </li>
    <li><%= link_to "Backup DB", backup_host_index_path%></li>
    <li><%= link_to "Restore DB", restore_host_index_path%> </li>
  </ul>
 </div>

 <div class="r_content">
  <br/><br/>

         <div align="right">
           <%= form_tag :controller=>'host',:action=>'search',:method=>:get do |src|%>
           <%= text_field_tag "email" %>
           <%= submit_tag "search" %>
           <% end %>
         </div>

<h1>Listing_details</h1>
 <table align="center" border="1" bgcolor="#fff8dc">
  <tr>
    <th>Serial_no</th>
    <th>User_type</th>
    <th>Client_name</th>
    <th>Place</th>
    <th>Email</th>
    <th>Access_url</th>
    <th>Ftp-host</th>
    <th>Ftp_user</th>
    <th>Size</th>
    <th>Db_host</th>
    <th>Db_name</th>
    <th>Db_user</th>
    <th>Show</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>

  <% i=1 %>

  <% @hosts.each do  |acs| %>


      <tr>
        <td><%= i %></td>
        <td><%=acs.user_type  %> </td>
        <td><%=acs.client  %> </td>
        <td><%=acs.place  %> </td>
        <td><%=acs.email  %> </td>
        <td><%=acs.access_url  %> </td>
        <td><%=acs.ftp_host %> </td>
        <td><%=acs.ftp_user  %> </td>
        <td><%=acs.ftp_quote  %> </td>
        <td><%=acs.db_host %> </td>
        <td><%=acs.db_name  %> </td>
        <td><%=acs.db_user  %> </td>
        <td><%=link_to image_tag("Show.png" ,:width=>20),acs  %> </td>
        <td><%=link_to image_tag("update.png", :width=>20),edit_host_path(acs)  %> </td>
        <td><%=link_to image_tag("Delete-icon.png", :width=>20),acs,:data=> {:confirm=>"Are you sure?"},method: :delete %> </td>
       </tr>
      <% i=i+1 %>

<%end  %>

</table>

 <br/><br/><br/><br/><br/><br/>

<h4 align="right" > <%= will_paginate @hosts%></h4>
</div>

