<h1>show</h1>

<table align="center">
   <tr>
  <th>Created_on:</th>
  <td><%=@host.created_on %>
  </td></tr>
  <tr>
  <th>Expire_on</th>
  <td><%=@host.expire_on %>  </td>
  </tr>
  <tr>
  <th>User_type:</th>
  <td> <%=@host.user_type%></td></tr>

  <tr><th>Name_of_client:</th>
  <td><%=@host.client%></td>
  </tr>
  <tr>
  <th>Place:</th>
  <td><%=@host.place%></td> </tr>
  <tr>
  <th>Email:</th>
   <td><%=@host.email%></td> </tr>
  <tr>
  <th>Access_user:</th>
  <td><%=@host.access_url%></td>
  </tr>
  <tr>
  <th>Ftp_host:</th>
  <td> <%=@host.ftp_host%></td>
  </tr>
  <tr>
  <th>Ftp_user:</th>
  <td><%=@host.ftp_user%></td>
  </tr>
  <tr>
  <th>Ftp_password:</th>
  <td><%=@host.ftp_password%></td>
  </tr>
  <tr>
  <th>Ftp_quote[MB]:</th>
  <td><%= @host.ftp_quote%> </td>
  </tr>
  
  <tr>
  <th>Db_host:</th>
  <td><%=@host.db_host%></td>
  </tr>
  
  <tr>
  <th>Db_name:</th>
  <td><%=@host.db_name%></td>
   </tr>
  
  <tr> <th>
  <b>Db_password:</b>  </th>
  <td><%=@host.db_password%></td></tr>
  <tr> <th>
  <b>Db_User:</b></th>
  <td><%=@host.db_user%> </td>
   <div class="field"   id="testing     ">
  <tr><th>
  <b>Pdf:</b></th>
  <td><%=link_to @host.pdf_file_name ,download_host_index_path(:id=>@host.id) %> </td>
  <td><%= progress_bar(83, :color => 'blue', :rounded => true) %></td>
  </tr>
     </div>
</table>

<%= link_to 'Index', host_index_path%>